.input {
  width: 100%;
  max-width: 450px;
  height: 51px;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--accent);
  background-color: var(--background);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: -0.02em;

  &:focus {
    opacity: 1;
    outline: none;
    border-color: var(--primary);
  }

  &::placeholder {
    color: var(--black-foreground);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: -0.02em;
  }
}